---
layout: base.njk
permalink: /pages/wmda/g_groups.html
eleventyNavigation:
  parent: "WMDA"
  key: "G Groups"
title: G Groups
h1: G Groups
p: G Codes For Reporting of Ambiguous Allele Typings

---

{% from "src/components/paragraph.njk" import paragraph %}
{{ paragraph("HLA alleles that have identical nucleotide sequences across the exons encoding the peptide binding domains (exon 2 and 3 for HLA class I and exon 2 only for HLA class II alleles), will be designated by an upper case ‘G’ which follows the first 3 fields of the allele designation of the lowest numbered allele in the group. The group designation will contain a minimum of six digits. A computer readable file of these codes, hla_nom_g.txt, is available to download, please see the WMDA section for further details.") }}
{{ paragraph("The algorithm used to generate the G groups does include alleles which contain unsequenced regions. For the alleles in question, the sequence of an alternate allele has been used to extend the sequence over this region. Where possible a genomic or silent variant of the unsequenced allele are used, when this is not possible an alternate allele from within the same first field group is used and only used when there is a high probability that the sequence used would be shown to be correct if the region was fully sequenced. The list of alleles containing unsequenced regions and the alternate alleles used to infer the missing sequence are detailed in the Ambiguous Typing files available at from the IMGT/HLA Database.") }}
{{ paragraph("Following the modification or deletion of an allele sequence a G group may contain only a single allele. In these cases the G group is retained and can refer to single allele, the G group may expand at a later date if new alleles are shown to have an identical nucleotide sequences across the exons encoding the peptide binding domains.") }}
{{ paragraph("In the case of unsequenced regions that cannot be accurately be inferred from known sequences with a high level of confidence the allele has been omitted from the analysis.") }}
{{ paragraph("We recognise that future sequencing of unsequenced regions may reveal disparity between the predicted sequence and the newly sequenced region. We therefore welcome any further information which will help improve analysis of these regions.") }}
