---
layout: base.njk
permalink: /pages/genes/statistics.html
eleventyNavigation:
  parent: "Genes"
  key: "Statistics"
title: Statistics
h1: Statistics
p: Statistics of the HLA database, including current numbers and growth
---
