---
layout: base.njk
permalink: /pages/antigens/previous_equivalents.html
eleventyNavigation:
  parent: "Antigens"
  key: "Previous Equivalents"
title: Previous Equivalents
h1: Previous Equivalents
h2: HLA Antigen Assignments
---
{% from "src/components/table.njk" import table %}
{% set headers = ["WHO HLA Antigen Assignment", "Previous WHO Assignments", "Date WHO Official Antigen Name first Assigned", "Local Designations"] %}
{% set rows = [
["A1", "HL-A1", "Jan 01, 1968", "Ao19, Bt1, To8, Da11, LA1, Lc-1, Te1, CLB4"],
["A2", "HL-A2, HL-AMac", "Jan 01, 1968", "Ao1, Bt5, To9, Da1, LA2, Mac, 8a, PIGrLyB1, Te2, Lc-2, CLB2"],
["A203", "", "Nov 14, 1991", "A2short"],
["A210", "", "Nov 14, 1991", "A2-Lee"],
["A3", "HL-A3", "Jan 01, 1968", "\<Ao4, \<Bt18, To10, \<Da12, LA3, Hill, \<Te8, \<Lc-3"],
["A9", "HL-A9", "Jan 01, 1969", "Ao35, Bt9, To12, Da16, LA4, Te4, Stewart, LA-BS, Lc-11, (Hunt, B), CLB9"],
["A23", "W23, 9.1", "Jan 01, 1972", "Bt21, Da27, (9'), Lc-12, Lc-12, (Hunt, C)"],
["A24", "W24, 9.2", "Jan 01, 1972", "Ao82, Da32, (9”), BIM"],
["A2403", "", "Nov 14, 1991", "A9.3"],
["A10", "HL-A10", "Jan 01, 1970", "KH, Bt8, To13, Da17, Te12, \<Bt24"],
["A25", "Aw25, W25, 10.1", "Jan 01, 1972", "\<Ao28, Da29, (10”), To31, CLB21"],
["A26", "Aw26, W26, 10.2", "Jan 01, 1972", "Da28, (10'), To40"],
["A34", "Aw34", "Jan 01, 1975", "Malay, 2, HL-A10-3, F26"],
["A66", "Aw66", "Jan 01, 1984", "LN"],
["A11", "HL-A11", "Jan 01, 1970", "Ao45, KN-ILN*, Te13, Da21, To26, GE20, ILN*, EA, Lc-20"],
["A19", "W19", "Jan 01, 1971", "GE33, Te19, Lic, Thompson"],
["A29", "W29, W19.1", "Jan 01, 1972", "Ao77, Bt15, Da22, GE33, Te63"],
["A30", "W30, W19.3", "Jan 01, 1972", "Da25'(Da26), Lc-21, Te66"],
["A31", "W31, W19.4", "Jan 01, 1972", "Da25''(Da33), LA-W, Te59, Lc-26.1"],
["A32", "W32, W19.5", "Jan 01, 1972", "Ao28, To30, GE32, Te59"],
["A33", "Aw33, W19.6", "Jan 01, 1975", "Fe55, lo.4, Bar3, Malay, 1"],
["A74", "Aw74", "Nov 21, 1987", "Th"],
["A28", "W28", "Jan 01, 1975", "Ao5, 1B, or, Da15, Ba*, Bgc, Te28, or, Te40, Lc-17"],
["A68", "Aw68", "Jan 01, 1984", "A28, not, A2/28"],
["A69", "Aw69", "Jan 01, 1984", "A2/28"],
["A36", "Aw36", "Jan 01, 1975", "Mo*, LT"],
["A43", "Aw43", "Jan 01, 1975", "BK"],
["A80", "", "Jun 10, 1996", "AX”BG''A”blank”"],
["B5", "HL-A5", "Jan 01, 1968", "Ao12/Ao45, Bt25, To5, Da5, Te6/Te11, (old), 4c, CLB7, Te11, (old), MH, \<Lc-19"],
["B51", "Bw51", "Jan 01, 1977", "B5.1"],
["B52", "Bw52", "Jan 01, 1977", "B5.2"],
["B5102", "", "Nov 14, 1991", "B5.35"],
["B5103", "", "Nov 14, 1991", "BTA"],
["B7", "HL-A7", "Jan 01, 1968", "Ao2, \<Bt4, To20, Da10, 4d, \<7c=6c,6b, 5, Lc-8"],
["B703", "", "Nov 14, 1991", "BPOT"],
["B8", "HL-A8", "Jan 01, 1968", "Ao41, Bt2, To7, Da8, 7d, Lc-7, CLB1"],
["B12", "HL-A12", "Jan 01, 1970", "Ao15, >Bt6, KN-T12, Da4, To11, Te9, 4a11, \<GE4, CLB14, SLy-1, TT, Merrit-A, T12, 4a"],
["B44", "Bw44", "Jan 01, 1977", "B12(not, TT)"],
["B45", "Bw45", "Jan 01, 1977", "TT*"],
["B13", "HL-A13", "Jan 01, 1970", "KN-HN, Bt23, To21, HK, HN, Te26, \<6b"],
["B14", "W14", "Jan 01, 1975", "Da18, MaKi, Te14/Te54, Lc-26"],
["B64", "Bw64", "Jan 01, 1984", "14.1, 8w63"],
["B65", "Bw65", "Jan 01, 1984", "14.2, 8w62"],
["B15", "Bw15, W15", "Jan 01, 1975", ">Bt26, Da23, CLB10, \<GE17, LND, Te15/Te55, \<7a, Lc-25"],
["B62", "Bw62", "Jan 01, 1980", "15.1, To53, 15B, Te72, 8w64"],
["B63", "Bw63", "Jan 01, 1980", "15.2, To52, 15A, Te71, 8w65"],
["B75", "Bw75", "Nov 21, 1987", "Bw62.1, SH7, ST1"],
["B76", "Bw76", "Nov 21, 1987", "15S, 15.4"],
["B77", "Bw77", "Nov 21, 1987", "15T, 15.2"],
["B16", "W16", "Jan 01, 1972", "Ao81, U18, Da31, GE12, Sa533, Te64"],
["B38", "Bw38, W16.1", "Jan 01, 1975", "W16W4, Da31"],
["B39", "Bw39, W16.2", "Jan 01, 1975", "W16-382"],
["B3901", "", "Nov 14, 1991", "B39.1"],
["B3902", "", "Nov 14, 1991", "B39.2"],
["B17", "Bw17, W17", "Jan 01, 1975", "Ao70, Bt12, GE15, SL-MaPi, Bgb, Te17/Te57, SL-MaPi, Orlina"],
["B57", "Bw57", "Jan 01, 1980", "17.1, 17A, 17, Long, , 8w67"],
["B58", "Bw58", "Jan 01, 1980", "17.2, 17B, 17, Short, , 8w68"],
["B18", "W18", "Jan 01, 1975", "Bt20, \<4c*, GE28, CM, \<M2, \<4c*, Te18/Te58, CM"],
["B21", "W21", "Jan 01, 1972", "Da24, \<M3, ET, \<M3, Te61, 7BE"],
["B49", "Bw49", "Jan 01, 1977", "Bw21.1, SL-ET*"],
["B50", "Bw50", "Jan 01, 1977", "Bw21.2, ET*"],
["B22", "W22", "Jan 01, 1975", "To28, GE22, AA, \<7c"],
["B54", "Bw54", "Jan 01, 1977", "Bw22j, SAP1"],
["B55", "Bw55", "Jan 01, 1980", "22.1, Bt22, AA*, Te22/Te51, 8w55"],
["B56", "Bw56", "Jan 01, 1980", "22.2, Te92, Da30, AA-AJ, 8w56"],
["B27", "W27", "Jan 01, 1975", "\<Ao10, \<GE18, FJH, Te27/Te52, \<7c"],
["B2708", "", "Jun 10, 1996", "B7Qui"],
["B35", "Bw35, W5", "Jan 01, 1975", "Ao13, \<4c*, Da20, GE11, CLB22, R*, Te5/Te50, >Lc-16, To25"],
["B37", "Bw37", "Jan 01, 1975", "TY"],
["B40", "Bw40, W10", "Jan 01, 1975", "To23, GE23, BB, Te10/Te60, \<6b, \<Da(9), KN, BB"],
["B60", "Bw60", "Jan 01, 1980", "40.1, 8w60"],
["B61", "Bw61", "Jan 01, 1980", "40.2, 8w61"],
["B4005", "", "Nov 14, 1991", "BN21"],
["B41", "Bw41", "Jan 01, 1975", "Sabell, LK, Da34"],
["B42", "Bw42", "Jan 01, 1975", "MWA"],
["B46", "Bw46", "Jan 01, 1977", "HS, SIN2"],
["B47", "Bw47", "Jan 01, 1977", "407*, MO66, CAS, Bw40c"],
["B48", "Bw48", "Jan 01, 1977", "KSO, JA, Bw40.3"],
["B53", "Bw53", "Jan 01, 1977", "HR"],
["B59", "Bw59", "Jan 01, 1980", "B8Jap, HOK-1, 8.2, 8w69"],
["B67", "Bw67", "Jan 01, 1984", "SN-2, Te90/Te57, 8w57"],
["B70", "Bw70", "Jan 01, 1984", "Bu SV, K5, Da(6), 8w59"],
["B71", "Bw71", "Jan 01, 1984", "Bu"],
["B72", "Bw72", "Jan 01, 1984", "SV"],
["B73", "Bw73", "Jan 01, 1984", "KA, IEH"],
["B78", "B7801", "Nov 14, 1991", "BSNA, 5Y, BTE76, 8w58"],
["B81", "", "Jun 10, 1996", "B'DT', B7x40, B7x48"],
["B82", "", "Dec 01, 2005", ""],
["Bw4", "HL-A4", "Jan 01, 1968", "Ao27, 4a, \<To2, Da3"],
["Bw6", "HL-A6", "Jan 01, 1968", "Ao72, 4b, To6, Da7"],
["Cw1", "W20", "Jan 01, 1975", "T1, AJ"],
["Cw2", "", "Jan 01, 1975", "T2, Sa532"],
["Cw3", "", "Jan 01, 1975", "T3, UPS"],
["Cw9", "", "Nov 21, 1987", "Cw3.1"],
["Cw10", "", "Nov 21, 1987", "Cw3.2"],
["Cw4", "", "Jan 01, 1975", "T4, RH3156"],
["Cw5", "", "Jan 01, 1975", "T5"],
["Cw6", "", "Jan 01, 1977", "T7"],
["Cw7", "", "Jan 01, 1980", "Cve, CT0-1, 8wCw7"],
["Cw8", "", "Jan 01, 1980", "T8, T9, 8wCw8, 8wCw9"],
["DR1", "DRw1", "Jan 01, 1977", "WIA1"],
["DR103", "", "Nov 14, 1991", "DR'Br', DR'Bon'"],
["DR2", "DRw2", "Jan 01, 1977", "WIA2"],
["DR15", "DRw15", "Nov 21, 1987", "DR2, long"],
["DR16", "DRw16", "Nov 21, 1987", "DR2, short"],
["DR3", "DRw3", "Jan 01, 1977", "WIA3"],
["DR17", "DRw17", "Nov 21, 1987", "DR3, long"],
["DR18", "DRw18", "Nov 21, 1987", "DR3, short"],
["DR4", "DRw4", "Jan 01, 1977", "WIA4"],
["DR5", "DRw5", "Jan 01, 1977", "WIA5"],
["DR11", "DRw11", "Jan 01, 1984", "LB5"],
["DR12", "DRw12", "Jan 01, 1984", "LB5x8, DR5, short, FT23"],
["DR6", "DRw5", "Jan 01, 1977", "WIA6"],
["DR13", "DRw13", "Jan 01, 1984", "6.6, 6.1, 6Z"],
["DR14", "DRw14", "Jan 01, 1984", "6.9, 6.3, 6X, 901"],
["DR1403", "", "Nov 14, 1991", "HR6"],
["DR1404", "", "Nov 14, 1991", "8I, 8x14"],
["DR7", "DRw6", "Jan 01, 1977", "WIA7"],
["DR8", "DRw8", "Jan 01, 1980", "WIA8, 8DRw8"],
["DR9", "DRw9", "Jan 01, 1980", "WIA4x7, Dub15, 8DRw12"],
["DR10", "DRw10", "Jan 01, 1980", "ST-1, LTM, 8DRw14"],
["DR51", "", "Nov 14, 1991", "DRB5, associated"],
["DR52", "DRw52", "Jan 01, 1984", "MT2"],
["DR53", "DRw53", "Jan 01, 1984", "MT3"],
["DQ1", "DQw1", "Jan 01, 1984", "DC1, MB1, MT1, LB-E12"],
["DQ5", "DQw5", "Nov 21, 1987", "1.1"],
["DQ6", "DQw6", "Nov 21, 1987", "1.2"],
["DQ2", "DQw2", "Jan 01, 1984", "MB2, DC3, Te24, LB-E17"],
["DQ3", "DQw3", "Jan 01, 1984", "MB3, MT4, DC4, TB21"],
["DQ7", "DQw7", "Nov 21, 1987", "3.1, TA10 IIB3-"],
["DQ8", "DQw8", "Nov 21, 1987", "3.2, TA10-IIB3 "],
["DQ9", "DQw9", "Nov 21, 1987", "3.3, TA10-IIB3 "],
["DQ4", "DQw4", "Nov 21, 1987", "Wa"],
["DPw1", "", "Jan 01, 1984", "SB1, PL3A"],
["DPw2", "", "Jan 01, 1984", "SB2"],
["DPw3", "", "Jan 01, 1984", "SB3"],
["DPw4", "", "Jan 01, 1984", "SB4, PL3B"],
["DPw5", "", "Jan 01, 1984", "SB5"],
["DPw6", "", "Jan 01, 1984", "SB6"],
["Dw1", "", "Jan 01, 1975", "LD101"],
["Dw2", "", "Jan 01, 1975", "LD102"],
["Dw3", "", "Jan 01, 1975", "LD103"],
["Dw4", "", "Jan 01, 1975", "LD104"],
["Dw5", "", "Jan 01, 1975", "LD105"],
["Dw6", "", "Jan 01, 1975", "LD106"],
["Dw18", "", "Jan 01, 1984", "6A, Dw6A"],
["Dw19", "", "Jan 01, 1984", "6b, Dw6b"],
["Dw7", "", "Jan 01, 1977", "LD107"],
["Dw11", "", "Jan 01, 1977", "LD17"],
["Dw17", "", "Jan 01, 1984", "7A, Dw7A"],
["Dw8", "", "Jan 01, 1977", "LD108"],
["Dw9", "", "Jan 01, 1977", "TB9, OH"],
["Dw10", "", "Jan 01, 1977", "LD16"],
["Dw12", "", "Jan 01, 1980", "DHO, DB4"],
["Dw13", "", "Jan 01, 1984", "DB3"],
["Dw14", "", "Jan 01, 1984", "LD40"],
["Dw15", "", "Jan 01, 1984", "DYT, YT"],
["Dw16", "", "Jan 01, 1984", "DB8, B8"],
["Dw20", "", "Nov 21, 1987", "LD14, LVA"],
["Dw21", "", "Nov 21, 1987", "LD2s, MN2, FJO, AZH"],
["Dw22", "", "Nov 21, 1987", "DB9, LD5a"],
["Dw23", "", "Nov 21, 1987", "DB5"],
["Dw24", "", "Nov 21, 1987", "52a, LB-Q4, bIII-3"],
["Dw25", "", "Nov 21, 1987", "52b, LB-Q1, bIII-1, BO-1"],
["Dw26", "", "Nov 21, 1987", "52c, bIII-2"]
] %}

{{ table(headers, rows) }}
