---
layout: base.njk
permalink: /pages/other/definitions.html
eleventyNavigation:
  parent: "Nomenclature"
  key: "Definitions"
title: Definitions
h1: Definitions
h2: Definitions and standards
---
<div class="container mb-3">
  The HLA Informatics Group would like to draw attention to the following papers on Definitions and Standards.
</div>