{% macro list(items, isOrdered=false) %}
    {% if isOrdered %}
        <ol>
            {% for item in items %}
                <li>{{ item | safe }}</li>
            {% endfor %}
        </ol>
    {% else %}
        <ul>
            {% for item in items %}
                <li>{{ item | safe }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}